﻿@model EjercicioYoutube.Models.UnionListasViewModel
@{
    ViewData["Title"] = "Crear";
}

<h1>Crear Registro</h1>

<h4>Alumno y Docente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Alumno:</label>
                <select name="selectAlumno" class="form-control" required>
                    <option hidden value="0">Elegir alumno</option>

                    @foreach (var item in Model.Alumno)
                    {
                        <option value="@item.Id">@item.Nombre @item.Apellido</option>
                    }
                </select>
                <Br />
                <label>Docente:</label>
                <select name="selectDocente" class="form-control" required>
                    <option hidden value="0">Elegir docente</option>

                    @foreach (var item in Model.Docente)
                    {
                        <option value="@item.Id">@item.Nombre @item.Apellido</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
