﻿@model EjercicioYoutube.Models.Alumnos_Docentes

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Alumnos-Docentes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlumnoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlumnoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocenteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocenteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista de Relaciones</a>
</div>
