﻿@model IEnumerable<EjercicioYoutube.Models.Alumnos_Docentes>

@{
    ViewData["Title"] = "Alumnos y Docentes";
}

<h1 class="text-center">Relación Alumno - Docente</h1>

<p class="text-center">
    <a asp-action="Create">Agregar Registro</a><br />
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Alumno
            </th>
            <th>
                Docente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Alumnos/Details/@item.AlumnoId"> @Html.DisplayFor(modelItem => item.Alumno.Nombre) @Html.DisplayFor(modelItem => item.Alumno.Apellido)</a>
                </td>
                <td>
                    <a href="/Docentes/Details/@item.DocenteId"> @Html.DisplayFor(modelItem => item.Docente.Nombre) @Html.DisplayFor(modelItem => item.Docente.Apellido)</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>



