﻿@model EjercicioYoutube.Models.Alumnos_Docentes

@{
    ViewData["Title"] = "Buscar";
}

<h1 class="text-center mb-5">Obtener lista de alumnos de cada docente</h1>
<form asp-action="Search">
    <div class="form-group d-flex align-items-center justify-content-center">
        <input name="id" type="number" min=1 placeholder="Ingrese ID..." />
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
</form>
<p>@ViewData["Message"]</p>
