﻿@model EjercicioYoutube.Models.Materias

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Delete</h1>

<h3>¿Estás seguro de que queres eliminar este registro?</h3>
<div>
    <h4>Materias</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiayHorario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiayHorario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocenteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocenteId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
