﻿@model EjercicioYoutube.Models.Materias

@{
    ViewData["Title"] = "Detalles";
}

<h1>Details</h1>

<div>
    <h4>Materias</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiayHorario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiayHorario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocenteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocenteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
