﻿@model IEnumerable<EjercicioYoutube.Models.Materias>

@{
    ViewData["Title"] = "Materias";
}

<h1 class="text-center">Materias</h1>

<p class="text-center">
    <a asp-action="Create">Crear Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Materia
            </th>
            <th>
                Docente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a href="/Docentes/Details/@item.DocenteId">
                    @Html.DisplayFor(modelItem => item.Docente.Nombre)
                    @Html.DisplayFor(modelItem => item.Docente.Apellido)

                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
